* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: clamp(40%, 1% + 2vw, 62.5%);
  --bg-color: rgb(7, 9, 20);
  --text-color: rgb(255, 255, 255);
  --bg-forest: rgba(46, 152, 27, 0.8);
  --bg-rain: hsla(185, 70%, 35%, 0.8);
  --bg-coffee-shop: hsla(61, 70%, 35%, 0.8);
  --bg-fireplace: hsla(17, 70%, 35%, 0.8);
}

html.light {
  --bg-color: var(--bg-color);
  --text-color: var(--text-color);
}

html.light .ph-sun,
html:not(.light) .ph-moon {
  display: none;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  height: 100vh;
  width: 100vw;
  display: flex;
}

#app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 19.2rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#toggle-mode {
  position: absolute;
  top: 3.2rem;
  right: 3.2rem;
  font-size: 4.8rem;
  line-height: 0;
  color: var(--text-color);
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
#toggle-mode:hover {
  transform: scale(1.2);
}

.sr-only {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  appearance: none;
  margin: -1px;
  padding: 0px;
  border: 0;
}

.stopwatch {
  flex: 1;
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#timer {
  display: flex;
  font-family: "Roboto Serif", serif;
  font-size: 12.6rem;
  font-weight: 500;
  line-height: 14.8rem;
}

#controls {
  display: flex;
  margin-top: 1.7rem;
  gap: 4rem;
}

#controls > button {
  background-color: transparent;
  border: 0;
  color: var(--text-color);
  cursor: pointer;
  font-size: 4.8rem;
}
#controls > button:hover {
  transform: scale(1.2);
}
#controls .secondary {
  color: rgb(199, 45, 65);
}

.sounds {
  flex: 1;
  order: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
}

.card-1,
.card-2 {
  display: flex;
  gap: 3.2rem;
}

.sounds * button {
  background-color: transparent;
  cursor: pointer;
  border: 0;
  font-size: 5.6rem;
  color: var(--text-color);
  width: 13.8rem;
  height: 15.2rem;
  border-radius: 2.4rem;
}

.sounds * button:hover {
  filter: brightness(150%);
}

#forest {
  background-color: var(--bg-forest);
}
#rain {
  background-color: var(--bg-rain);
}
#coffee-shop {
  background-color: var(--bg-coffee-shop);
}
#fireplace {
  background-color: var(--bg-fireplace);
}

/* controls */

.running .ph-play-circle,
html:not(.running) .ph-pause-circle {
  display: none;
}
