* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: hsla(240, 9%, 89%, 1);
  --text-color: hsla(240, 6%, 21%, 1);
  --bg-forest: hsla(111, 70%, 35%, 1);
  --bg-rain: hsla(185, 70%, 35%, 1);
  --bg-coffee-shop: hsla(61, 70%, 35%, 1);
  --bg-fireplace: hsla(17, 70%, 35%, 1);
  font-size: clamp(40%, 1% + 2vw, 62.5%);
}

html.light {
  --bg-color: var(--bg-color);
  --text-color: var(--text-color);
}

html.light .ph-sun,
html:not(.light) .ph-moon {
  display: none;
}

#toggle-mode {
  position: absolute;
  right: 3.2rem;
  top: 3.2rem;
  font-size: 3.2rem;
  line-height: 0;
  color: var(--text-color);
}

.sr-only {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  margin: -1px;
  padding: 0;
  border: 0;
  appearance: none;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  height: 100vh;
}

#app {
  margin: 0 23.3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex {
  display: flex;
}

#timer {
  font-family: "Roboto Serif", serif;
  font-size: 12.6rem;
  font-weight: 500;
  line-height: 14.8rem;
}
#controls {
  margin-top: 1.7rem;
  gap: 4rem;
}
#controls > button {
  background-color: transparent;
  border: 0;
  color: var(--text-color);
  cursor: pointer;
  font-size: 4.8rem;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  width: 30rem;
}
.card {
  padding: 3.2rem;

  flex-basis: 50%;
  height: 15.2rem;
  border: 0;
  border-radius: 2.4rem;
}

.card > button {
  background-color: transparent;
  cursor: pointer;
  border: 0;
  font-size: 5.6rem;
  color: var(--text-color);
}
